.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.logo {
  width: 50vh;
  height: 10vh;
}

.sidebar {
  border: 1px solid #fff;
  box-shadow: #282c34;
  width: 20%;
  padding-bottom: 50vh;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 50vh;
  background-color: #fff;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.sidebar img{
  width: 11.375rem;
  
}
.sidebar a {
  display: block;
  color: black;
  padding: 25px;
  text-decoration: none;
  font-family : Arial, Helvetica, sans-serif;
  margin-top: 10px;
  margin-left: 4vh;
}
.sidebar a img{
  width: 24px;
  padding-right: 10px;
}

.sidebar a.active {
  background-color: brown;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #000;
  color: white;
}
@media screen and (max-width: 380px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    font-size: 50%;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}
@media screen and (min-height: 100%) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    font-size: 50%;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}
@media screen and (max-width: 380px) {
  .sidebar a {
    text-align: center;
    float: none;
    width: 50%;
  }
}
/* .avatar img{
  width: 12vh;
  padding: 10px;
  border-radius: 101px;
} */
.avatar{
  margin-top: 3vh;
  float: right;
  margin-right: 2vh;
  padding: 10px;
  background-color: #fff;
  /* gap: 10px; */
  border-radius: 30px;
}
body{
  background: #F4F7FE;

  /* width: 100%;
  height: 100vh;
  margin-top: 200px; */
}
.navbar{
  /* padding: 10px; */
}
.vector{
  /* height: 24px; */
  width: 24px;
  /* padding: 8px; */
}
.search{
  border-radius: 49px;
  border: none !important;
  background-color: #F4F7FE;
  padding-left: 20px;
  font-size: 14px;
  width: 214px;
  height: 41px;
}
.vector-avatar{
  width: 41px;
}
.vector-avatar:hover{
  cursor:pointer;
}
.heading{
  text-align: center;
  font-size: 36px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 500;
  padding-top: 1.75rem;
  padding-left: 4rem;
  margin-left: 16rem;
}
.avatar-sec{
  align-items: center;
}
.profile{
  padding-left: 19.375rem;
  padding-top: 5%;
}
.blog{
  padding-left: 310px;
  padding-top: 150px;
}
.blog-row1{
  align-items: center;
  /* justify-content: space-between; */ 
}
.blog-head{
  font-size: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}
.blog-body{
  background: #fff;
  padding: 20px 30px;
  border-radius: 10px;
}